<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>反馈</title>
</head>
<body id="mybody" style="background-color: rgb(218,218,218);color: rgb(110,110,110);">
	<div style="height: 25px;line-height: 25px;">我的问题</div>
	<div style="width: 100%;background-color: white;margin:2px 2px 5px 2px;">
		根与芽的寓意是什么？
	</div>
	<div style="height: 25px;">
		<div style="width: 10%;height:98%;float: left;margin-top: 1px;">
			<img alt="" src="./img/pretive.png" height="100%" width="100%">
		</div>
		<div  style="width: 90%;float: right;height: 100%">
			<div style="height: 30%"></div>
			<label style="height: 50%;margin-left: 10px;color: rgb(110,110,110);line-height: 25px;">来自根与芽的反馈</label>
			<div style="height: 20%"></div>
		</div>
	</div>
	<div style="width: 100%;background-color: white;margin:2px 2px 5px 2px;">
	根在大地下舒展、蔓延，无所不在，根就是坚实的基础；芽看上去弱不禁风，然而为了得到阳光，他们能钻出坚硬的砖墙。我们这个世界上面临的各种问题，就像那一堵坚硬的砖墙。成千上万的根与芽，全世界成千上万的年轻人能够冲破这些砖墙！你能够改变世界！ 
	</div>
	<div style="height: 50px;"></div>
	<div style="height: 25px;line-height: 25px;">我的问题</div>
	<div style="width: 100%;background-color: white;margin:2px 2px 5px 2px;">
		根与芽是一个什么样的组织？
	</div>
	<div style="height: 25px;">
		<div style="width: 10%;height:98%;float: left;margin-top: 1px;">
			<img alt="" src="./img/pretive.png" height="100%" width="100%">
		</div>
		<div  style="width: 90%;float: right;height: 100%">
			<div style="height: 30%"></div>
			<label style="height: 50%;margin-left: 10px;color: rgb(110,110,110);line-height: 25px;">来自根与芽的反馈</label>
			<div style="height: 20%"></div>
		</div>
	</div>
	<div style="width: 100%;background-color: white;margin:2px 2px 5px 2px;">
	根与芽是一个国际性的环保组织，其旨在鼓励青年人发现生活中存在的不合理现象，并通过自身的努力解决这些问题，切切实实的为自然保护，社区建设做出积极的改变。根与芽的活动涉及空气，环境美化，食物健康，社区，民族文化，植物树木，和平，宠物，野生动物，水，循环利用这十一个方面，根与芽希望以这十一项主题为载体，让人们能尊重爱护一切生命，加强不同文化与信仰间的交流，鼓励更多的人行动起来，make positive change to make the world a better place to live in。
	</div>
</body>

</html>